<div class="row">
    <h2>Auction Bid</h2>
    <br><br>
    <div class="row">
        <div *ngFor="let hero of bids">
            <div *ngIf="hero.bid_price!=0; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-text"> User Name: {{hero.user_name | uppercase}} </p>
                            <br>
                            <p class="card-text"> Bid: {{hero.bid_price}}</p>
                            <br>
                            <p class="card-text"> Balance Time: {{hero.bid_date | date: 'dd/MM/yyyy'}}</p>
                            <br>
                            <p class="card-text">Deadline: {{hero.deadline | date: 'dd/MM/yyyy'}}</p>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #elseBlock>
                <div class="col-md-4">
                    <form [formGroup]="bidsForm" (ngSubmit)="addBids(hero._id)">
                        <p class="card-text"> {{hero.user_name | uppercase}}</p>
                        <div class="form-group">
                            <input (keypress)="numberOnly($event)" formControlName="bidPrice" type="text"
                                class="form-control" id="bid_price" name="bid_price" placeholder="xx.xx$">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Place Bid</button>
                        </div>
                    </form>
                </div>
            </ng-template>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div align="center" class="p-3 mb-2 bg-primary text-white">
                <ng-template [ngIf]="bids[0].bid_price > bids[1].bid_price && bids[0].bid_price > bids[2].bid_price ">
                    <div class="alert alert-primary">
                        <p class="card-text"> User Name: {{bids[0].user_name | uppercase}}</p>
                        <br>
                        <p class="card-text"> Bid: {{bids[0].bid_price}}</p>
                        <br>
                        <p class="card-text"> Balance Time: {{bids[0].bid_date | date: 'dd/MM/yyyy'}}</p>
                        <br>
                        <p class="card-text">Deadline: {{bids[0].deadline | date: 'dd/MM/yyyy'}}</p>
                    </div>
                </ng-template>
                <ng-template [ngIf]="bids[1].bid_price > bids[0].bid_price && bids[1].bid_price > bids[2].bid_price ">
                    <div class="alert alert-primary">
                        <p class="card-text"> User Name: {{bids[1].user_name | uppercase}}</p>
                        <br>
                        <p class="card-text"> Bid: {{bids[1].bid_price}}</p>
                        <br>
                        <p class="card-text"> Balance Time: {{bids[1].bid_date | date: 'dd/MM/yyyy'}}</p>
                        <br>
                        <p class="card-text">Deadline: {{bids[1].deadline | date: 'dd/MM/yyyy'}}</p>
                    </div>
                </ng-template>
                <ng-template [ngIf]="bids[2].bid_price > bids[0].bid_price && bids[2].bid_price > bids[1].bid_price ">
                    <div class="alert alert-primary">
                        <p class="card-text"> User Name: {{bids[2].user_name | uppercase}}</p>
                        <br>
                        <p class="card-text"> Bid: {{bids[2].bid_price}}</p>
                        <br>
                        <p class="card-text"> Balance Time: {{bids[2].bid_date | date: 'dd/MM/yyyy'}}</p>
                        <br>
                        <p class="card-text">Deadline: {{bids[2].deadline | date: 'dd/MM/yyyy'}}</p>
                    </div>
                </ng-template>
            </div>
            <div align="right">
                <button (click)="onClickMe()">Restore</button>
            </div>
        </div>
    </div>
</div>